<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Track Page</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="{% static 'spotifyJS/track.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
    <link rel="stylesheet" href="{% static 'spotifyStatic/track.css' %}">
</head>
<body>
    <data value="{{ track_id }}"></data>
    <div class="ui center aligned text container">
        <img src="" id="album-picture" class="ui centered large image">
        <h1 class="ui header" id="track-title"></h1>
        <audio controls id="audio">
        </audio>
    </div>
</body>
</html>