body {
    background-color: #181818;
}
.item {
    color: white;
}
h1 {
    color: whitesmoke;
}
.ui.secondary.menu p {
    color: white;
}
.ui.secondary.menu img {
    margin-left: 337px;
}
#track-title{
    color: whitesmoke;
}
#artist-name{
    color: whitesmoke; 
}
#album-title{
    color: whitesmoke;
}
#similar-artists{
    color: whitesmoke;
}
