body {
    background-color: #181818
}
.item {
    color: white
}
h1 {
    color: whitesmoke
}
.ui.secondary.menu p {
    color: white
}
.ui.secondary.menu img {
    margin-left: 337px;
}
#likedprofiles {
    display: inline-block
}
#likedsongs {
    display: inline-block
}
.ui.card{
    display: inline-block;
    vertical-align: top;
}